@use 'src/styles/vars';

// .amount
.amount {
    background-color: vars.$lightColor;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: vars.$primaryColor;
    
    // .amount .amount-value
    &-value {
        font-size: 2rem;
        font-weight: vars.$titleWeight;
    }
}