// Variables d'épaisseur de texte
$textWeight: 300; // Texte normal
$currencyItemWeight: 500; // Liste de devises
$titleWeight: 700; // Titre et résultat

// Couleurs
$primaryColor: #22968c; // Couleur principale
$secondaryColor: #c3e3e7;  // Couleur secondaire
$lightColor: #fff;  // La couleur claire

// Transitions
$fastTransition: 0.2s; // Durée de la transition courte
$slowTransition: 1s; // Durée de la transition longue
