@use 'src/styles/vars';

.header {
    background-color: vars.$primaryColor;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: vars.$lightColor;
    line-height: 2rem;
    padding-bottom: 1rem;

    // .header h1
    h1 {
        font-size: 1.7rem;
        font-weight: vars.$titleWeight;
    }
}

.currencies-search {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border: none;
    color: vars.$primaryColor;
    font: inherit;
    &::placeholder {
        color: vars.$primaryColor;
    }
}

.header-amount-value {
    background: transparent;
    border: 1px solid white;
    font: inherit;
    color: vars.$lightColor;
    width: 4em;
    margin-right: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  
    &:focus {
      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .5);
    }
}
